{% extends 'baseConnect.html.twig' %}

{% block body %}


	<div class="section no-pad-bot">
		<div class="container">
			<br> <br>
			<h1 class="header center blue-text text-lighten-2">MarinAccess</h1>
			<div class="row center">
				<h5 class="header col s12 light">Bienvenue {{ user.mail }}!</h5>
			</div>
{% for items in travel %}
    {% if items.proprietaire.emplacement.numPlace is defined %}
    {% if items.proprietaire.emplacement.numPlace != "Admin"  %}

		 <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">

                <a href="">Mr. {{ items.proprietaire.lastName }} <img border="0" alt="No picture"  src="{{ items.proprietaire.photo }}" width="70" height="70" class="circle">
                <!-- notice the "circle" class -->
                 </a>

            </div>

            <div class="col s10">
              <span class="black-text">
               Emplacement {{ items.place.numPlace }}
              </span>
            </div>

              <span class="black-text col s6">
                {{ items.etat }}

              </span>
              {% if items.etat == "Libre"%}
                  <span class="col s2">
                       du {{ items.dateOccupation|date("d/m/Y \à h:i") }}
                  </span>
              {% endif %}
              {% if items.etat == "Libre"%}
                  <span class="col s2">
                        au {{ items.dateLiberation|date("d/m/Y \à h:i") }}
                  </span>
              {% endif %}

            {% if items.bateauAmarre != null %}
              <div class="col s13">
              <span class="black-text">
               Capitaine {{ items.bateauAmarre.capitaine.lastName }}
              </span>
              </div>
            {% endif %}
             {% if user.emplacement.numPlace is defined %}
                {% if user.emplacement.numPlace == items.place.numPlace and items.etat != "Occupé" %}
                    <div class="col s14">
                        <a class='btn waves-effect waves-light teal lighten-1' href='/newTravelForm/{{ items.id }}' data-activates='dropdown1'>Libérer votre place<i class="material-icons">directions_car</i></a>
                    </div>
                {% endif %}
        {% endif %}
             {% if items.etat == "Libre" and items.proprietaire != user %}
                 {% if user.bateau is not empty %}
                 <div class="col s14">
                <a class='btn waves-effect waves-light blue lighten-1' href='/confirm/{{ items.id }}' data-activates='dropdown1'>Réserver<i class="material-icons">directions_car</i></a>
                 </div>
                     {% else %}
                         <div class="col s14">
                             <div class="header col s12 light">Veuillez enregistrer un bateau.</div>
                         </div>
                     {% endif %}
                 
            {% endif %}

          </div>
        </div>
         </div>
    {% endif %}
    {% endif %}
              


    {% endfor %}
      </div>
				


		</div>
	{% endblock %}